[defaults]
inventory = inventory_snapshot.yml
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
module_utils_paths = ~/.ansible/collections/ansible_collections:/usr/share/ansible/collections/ansible_collections
host_key_checking = False

[inventory]
enable_plugins = netbox.netbox.nb_inventory, yaml, ini, auto, constructed
